// Start Banner Start
.banner {
	height: 100vh;
	background-image: url("../img/banner.jpg");
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	min-height: 600px;
	background-attachment: fixed;
	&__content {
		padding-top: 50px;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		text-align: center;
		h1 {
			color: #ffffff;
			font-size: 28px;
			line-height: 36px;
			margin: 0;
		}
		a {
			margin-top: 50px;
			transition: all .5s;
			display: inline-block;
			color: #ffffff;
			text-transform: uppercase;
			font-size: 18px;
			padding: 20px 50px;
			background-color: rgba(250, 16, 22, .75);
			&:hover {
				text-decoration: none;
				background-color: rgb(250, 16, 22);
			}
		}
	}
}
#space {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	max-height: 100%;
	display: block;
	width: 100%;
}
@media screen and (max-width: 768px) {
	.banner {
		height: auto;
		&__content {
			padding: 50px 0;
			h1 {
				font-size: 20px;
				line-height: 36px;
			}
			a {
				padding: 20px 20px; 
				font-size: 16px;
			}
		}
	}
}
// End Banner Section