.places-page {
	background-image: url("../img/post-page.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	padding: 200px 0 60px;
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		content: '';
		background-color: rgba(0,0,0, .5);
	}
	.no-padding {
		padding: 0;
	}
	&__content {
		position: relative;
		z-index: 10;
	}
	&__links {
		display: table;
		width: 100%;
		margin-bottom: 49px;
		a {
			float: left;
			width: 25%;
			color: #ffffff;
			background-color: rgba(250, 16, 22, 0.75);
			text-align: center;
			padding: 15px 0;
			font-size: 14px;
			transition: all .5s;
			&:hover {
				text-decoration: none;
				background-color: #fa1016;
			}
			&.active {
				background-color: #fa1016;
			}
		}
	}
	&__tab {
		display: none;
		&.active {
			display: block;
		}
	}
	iframe {
		width: 100%;
		min-height: 750px;
	}
}
@media screen and (max-width: 767px) {
	.places-page  {
		padding: 200px 0 100px;
		.no-padding {
			padding: 0 15px;
		}
	}
}