.places {
	.slick-vertical .slick-slide {
		border: none;
	}
	width: 100%;
	max-width: 585px;
	margin: 0 auto;
	background-color: rgba(0,0,0,.75);
	&__slider {
		width: 100%;
		max-width: 585px;
		position: relative;
	}
	&__slide {
		display: table;
		width: 100%;
		max-width: 585px;
	}
	&__slide-img {
		float: left;
		width: 30%;
		height: 120px;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
	&__slide-location {
		height: 120px;
		width: 35%;
		float: left;
		background-color: rgba(0,0,0,.75);
		padding: 30px 20px;
		p {
			color: #ffffff;
			margin: 0 0 10px;
			font-size: 14px;
			img {
				display: inline;
			}
			& + p {
				margin-bottom: 0;
			}
		}
	}
	&__slide-paty {
		float: left;
		width: 35%;
		height: 120px;
	}
	&__slide-paty-item {
		float:left;
		width: 25%;
		height: 60px;
		position: relative;
		&.item-1 {
			background-color: rgba(0,0,0,.50);
		}
		&.item-2 {
			background-color: rgba(0,0,0,.60);
		}
		&.item-3 {
			background-color: rgba(0,0,0,.70);
		}
		&.item-4 {
			background-color: rgba(0,0,0,.80);
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	&__slide-phone {
		float: left;
		text-align: center;
		height: 60px;
		line-height: 60px;
		color: #ffffff;
		width: 100%;
		font-size: 14px;
		a {
			color: #ffffff;
			font-size: 14px;
			transition: all .5s;
			&:hover {
				text-decoration: none;
				color: #fa1016;
			}
		}
	}
	.slick-prev {
		position: absolute;
		top: -49px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 585px;
		background-color: #010104;
		height: 50px;
		&:before {
			content: "\f106";
		}
	}
	.slick-next {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 585px;
		background-color: #010104;
		height: 50px;
		&:before {
			content: "\f107";
		}
	}
}
@media screen and (max-width: 767px) {
	.places {
		&__slide-img {
			display: none;
		}
		&__slide-location {
			width: 100%;
			p {
				text-align: center;
			}
		}
		&__slide-paty {
			width: 100%;
		}
		&__slide-phone {
			width: 100%;
		}
	}
}