.social {
	position: fixed;
	top: 50%;
	z-index: 150;
	left: 0;
	width: 50px;
	transform: translateY(-50%);
	a {
		display: block;
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		transition: all .2s;
		color: #ffffff;
		font-size: 25px;
		&.twitter {
			background-color: #00abe5;
		}
		&.facebook {
			background-color: #0065a7;
		}
		&.vk {
			background-color: #2d76a6;
		}
		&:hover {
			width: 70px;
		}
	}
}
@media screen and (max-width: 768px) {
	.social {
		a {
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 20px;
		}
	}
}